@media screen and (min-width: 768px) {
	#page .navbar-inverse {
		background-color: #000;
	}
}
.navbar-nav a {
	transition: all 0.3s ease;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: Lato, sans-serif;
}

.navbar {
	z-index: 999;
}


.alberto-nav .navbar-brand {
  height: 80px;
}

.alberto-nav .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.alberto-nav .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}
